#outline

{

margin-left:auto;

width:1000px;

margin-right:auto;

}


#bannerbar

{
position:absolute;

z-index=-1;

}


#banner

{

position:relative;

top:30px;

left:58px;

height:100px;

width:100%;

margin-bottom:40px;

}


#banner img

{

border:none;

height:165px;

}


#banner a:hover img

{

opacity:.6;

filter:alpha(opacity=70);

}


#logo

{

position:absolute;

width:720px;

float:left;

}


/*#bannerhead

{

position:relative;

width:700px;

float:right;

margin-right:58px;

}*/


#sitemenu

{

position:relative;

width:200px;

float:left;

margin-top:143px;

margin-left:17px;

}


#backgroundimage

{

position:absolute;

z-index:-1;

width:100%;

height:105%;

}


#sitemenu li

{

list-style:none;

height:48px;

width:150px;
}


#sitemenu a

{

position:relative;

text-decoration:none;

}


#sitemenu a img

{

border:none;

position:absolute;

z-index:0;

}


#sitemenu a span
, #tabmenu span
{
color:black;

position:absolute;

font-weight:bold;

z-index:1;

}
#sitemenu a span
{

width:150px;

left:20px;

top:8px;

}


#sitemenu a:hover span, #sitemenu a:hover img

{

opacity:.7;

font-weight:bold;

filter:alpha(opacity:70);

text-decoration:none;

margin-left:14px;

}


#info

{

margin-top:20px;
margin-left:20px;

margin-right:20px;

}


#infobody h1

{

text-align:center;

}




