#infobody

{

position:relative;

margin-top:0px;

width:770px;

height:649px;
float:right;

}
#afterpic
{
float:left;
position:relative;
width:500px;
height:500px;
}
#beforepic
{
position:relative;
width:180px;
height:180px;
}
#picinfo
{
padding:5px;
margin-top:10px;
position:relative;
float:left;
width:500px;
height:300px;
overflow-y:scroll;
}
#picinfo ul
{
  padding-left:10px;
}
#picinfo li
{
  margin-left:30px;
}
#picinfo #underlined
{
text-decoration:underline;
}
#beforepic
{
float:right;
margin-right:10px;
}
#piclist
{
margin-top:20px;
position:relative;
float:right;
height:300px;
width:200px;
overflow-x:hidden;
overflow-y:scroll;
}

#piclist, #picinfo, #beforepic, #afterpic
{
border-left:solid gray 1px;
border-top:solid gray 1px;
}

#label
{
position:absolute;
z-index=1;
}

#Top
{
list-style:none;
margin-left:5px;
padding-left:0px;
}

#topTitle
{
text-decoration:underline;
}